﻿<script type="text/javascript" src="template.js"></script>
<template class="MarvalSoftware-Plugins-ShowServiceHierarchy-ServiceDisplay">
    <style>
        .MarvalSoftware-Plugins-ShowServiceHierarchy {
            display: block;
            color: blue;
        }
    </style>
    <div class="MarvalSoftware-Plugins-ShowServiceHierarchy layoutElement">
        <label>&rarr;</label>
        <span id="MarvalSoftware-Plugins-ShowServiceHierarchy-Message"></span>
    </div>
</template>
<script>
    (function () {
        
        var MarvalSoftware = window.top.MarvalSoftware;
        var $ = window.top.$;

        MarvalSoftware.Plugins.define("MarvalSoftware-Plugins-ShowServiceHierarchy",
        {
            _pluginPath: null,
            _element: null,
            _messageElement: null,

            init: function () {
                document.addEventListener('DOMContentLoaded', function () {
                    var page = MarvalSoftware.UI.Controls.ScriptManager.getInstance().getPage();

                    // attach the display element
                    var template = document.querySelector('.MarvalSoftware-Plugins-ShowServiceHierarchy-ServiceDisplay').content;
                    this._element = window.top.document.importNode(template, true);
                    this._messageElement = this._element.querySelector('#MarvalSoftware-Plugins-ShowServiceHierarchy-Message');
                    var serviceElement = page._servicePicker.getViewElement().parentElement;
                    serviceElement.parentElement.insertBefore(this._element, serviceElement.nextSibling);

                    // subscribe to service on change
                    page._servicePicker.onValueChanged.subscribe(this._updateServiceHierarchy, this);

                    // render the hierarchy in case this is an existing request
                    this._updateServiceHierarchy();
                }.bind(this));
            },
            
            _updateServiceHierarchy: function () {
                var page = MarvalSoftware.UI.Controls.ScriptManager.getInstance().getPage();
                var subservices = page._servicePicker.getSubServices();
                var text = "";
                for (var i = 0; i < subservices.length; i++) {
                    text += subservices[i].Name + " - ";
                }
                this._messageElement.innerText = text.substring(0, text.length - 3);
            }
        });
    })();
</script>